

.Nav {
  display: flex;
  padding-top: 66px;
  flex: 0 0 auto;
 
  
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;

  
  grid-row-start: 1; /** Top **/
  grid-row-end: 12; /** Down **/
  grid-column-start:1; /** Left **/
  grid-column-end: 5; /** Right **/
  justify-self: stretch;
  align-self: stretch;
}

.Nav li {

  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 10vh; /* 78.125% */
  list-style: none;
  /*-webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);/**/
 
}

.navItem {
  
  font-size: 2rem;
  text-decoration: none;
  
  list-style: none;
  font-weight: 400;
  line-height: 10vh;
  
}

.navItem.active {
  color: #98FF9D; /* or highlight color */
  text-shadow:
    0 2px 6px rgb(0, 0, 0),
    0 0 50px rgba(152, 255, 252, 0.8);
}

.Nav li:hover {
  
  text-shadow:
    0 2px 6px rgb(0, 0, 0),
    0 0 50px rgba(152, 255, 252, 0.4);
}

.navItem:hover {
  text-shadow:
    0 2px 6px rgb(0, 0, 0),
    0 0 50px rgba(152, 255, 252, 0.4);
}