/* Might delete this later not sure
.Weekly {
  display: grid;
  width: 50rem;
  height: 26rem;
  padding: 40px;
  row-gap: 10px;
  column-gap: 10px;
  align-self: end;
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-row: 1 / span 12;
  grid-column: 5 / span 12;

  transition: background-color 0.8s ease-in-out 0.1s, box-shadow 0.8s ease-in-out 0.1s;
}
  */ 



.Weekly {

  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  
  
}

.top-selector  {
  --btn-size: 2.75rem;
  display: flex;
  width: 95%;
  margin-top: 5vh;
  justify-content: space-between;
  align-items: center;
  
}
.strip.date {
  display: flex;
  height: 100%;
  width: 10%;

  justify-content: center;
  align-items: center;

  margin-bottom: 0;

}

.top-btns {
  width: var(--btn-size);
  height: var(--btn-size);
  background-color: black;
  border-radius: 100px;
  border:none;
  color:#1E1E1E;

  display: flex;
  align-items: center;
  justify-content: center;

}

.Crud-btns {
  height: 100%;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;


}

.top-btns img {
  height: 15px;
}

.top-btns:hover .arrow-btns {
  color: white;
}

.top-btns:hover .i-rings {
  stroke: rgba(255, 255, 255, 0.196);
}

.top-btns:hover .i-minus {
  stroke: #860000;
}

.top-btns:hover .i-changeBtn {
  stroke: #863600;
}

.top-btns:hover .i-saveBtn {
  stroke: #0d0086;
}

.top-btns:hover .i-add {
  stroke: #085331;
}

h2 {
  margin-left: 2vw;
}

.habits {
  flex:1;
  width: 95%;
  

  margin-bottom: 5vh;
  min-height: 0;
  overflow-y: auto;
  overflow: visible;
}

.strip.Habit {
  display: flex;
  background-color:#00000000;
  height:55px;
  width: 100%;


}

#top {
  width: 95%;
  background-color: black;
  
}

#info {
  border: none;
  box-shadow: none;
}

.day { /* I am using this even tho it overflows so that it aligns with the boxes on the bottom*/
  height: 30%;
  width: 26px;
  
}

.strip.Title-Habit{
  display: flex;
  height: 100%;
  width: 10%;


  justify-content: center;
  align-items: center;

  box-shadow: -6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.strip .Boxes-Habit {
  display: flex;
  height:55px;
  width: 89%;
  margin-left: 1%;
  margin-bottom: none;
  gap: 10px;

  box-shadow: -6px 6px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-evenly;
}

.box-selector {
  height:25px;
  width: 25px;

  background: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0;

  opacity: 0.35;
}

.box-selector.is-yes {
  opacity: 1;
}

.box-selector.is-no {
  opacity: 1;
}

.box-selector:hover {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-onBox {
  height: 100%;
}

.box-icon {
  height: 100%;
}