/* Might delete this later not sure
.Weekly {
  display: grid;
  width: 50rem;
  height: 26rem;
  padding: 40px;
  row-gap: 10px;
  column-gap: 10px;
  align-self: end;
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-row: 1 / span 12;
  grid-column: 5 / span 12;

  transition: background-color 0.8s ease-in-out 0.1s, box-shadow 0.8s ease-in-out 0.1s;
}
  */ 

.Weekly {

  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  
  
  
}

.top-selector  {

  width: 95%;
  margin-top: 5vh;
  
}

.info-displayer {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin-left: 2vw;
}

.habits {
  flex:1;
  width: 95%;
  

  margin-bottom: 5vh;
  min-height: 0;
  overflow-y: auto;
}