html, body {
  margin: 0;
  padding: 0;
  background: #000603;
  height: 100%;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  background: #000603;
}

.content {
  flex: 1;
  min-width: 0; 
}


.application {
  display: grid;
  background: #000603;
  width: auto;
  height: 100%;
  padding: 2.5vw;
  gap: 9vh 3vw;
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-template-columns: repeat(20, minmax(0, 1fr));
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  
}

.content { 

  grid-row-start: 1;
  grid-row-end: 12;
  grid-column-start: 5;
  grid-column-end: 21;
  
}


