/* Reusable focus animation */
.focus-glow {
  transition:
    background-color 0.5s ease-in-out 0.1s,
    box-shadow 0.5s ease-in-out 0.1s;
}

.focus-glow:focus {
  background-color: rgba(8, 83, 49, 0.4);
  box-shadow:
    0 -8px 12px 0 #085331,
    -8px 0 12px 0 #085331,
    0 8px 12px 0 #085331,
    8px 0 12px 0 #085331;
}

.container {
  border-radius: 24px;
  background-color: rgba(8, 83, 49, 0.10);
  
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 24px 24px 50px 0 rgba(0, 0, 0, 0.8) inset,
             -40px 0 30px 0 rgba(255, 255, 255, 0.025) inset,
              0 -40px 30px 0 rgba(255, 255, 255, 0.03) inset;
}

.letters {
  color: #98EAFF;
  font-family:Arial, Helvetica, sans-serif;
}

.strip {
  background-color: #085331;
  border-radius: 12px;
  height: 10%;
  margin-bottom: 2.5vh;
}

.strip--info {
  background-color: #000000;
  border: 1px solid rgba(102, 220, 220, 0.092);/**/

}